{% extends "DEIPaperApp/base.html" %}
{% block content %}
{% load static %}
{% load mathfilters %}
<title>DEI Paper</title>
<div class="horizontal-padding">
   <div class="vertical-padding">
      <input class="form-control navbar-fontsize" id="search-bar" type="text" placeholder="Search by ID/name/author">
      <table class="table table-responsive table-hover table-borderless table-striped">
         <thead>
            <tr class="table-header">
               <th>ID</th>
               <th>Title</th>
               <th>Authors</th>
            </tr>
         </thead>
         <tbody id="paper-table">
            {% for paper in paper_list %}
               <tr class="paper-info">
                  <td class="table-entry">{{paper.id}}</td>
                  <td class="table-entry-title"><a href="{% url "show_paper" paper.id %}"><b>{{paper.title}}</b></a></td>
                  <td class="table-entry">{{paper.authors}}</td>
                  <td>
                     <a href="{% url "update_paper" paper.id %}"><img src="{% static "img/edit.png" %}" class="table-button mb-2"></a>
                     <a href="{% url "delete_paper" paper.id %}" onClick="return confirmDeletion()"><img src="{% static "img/delete.png" %}" class="table-button"></a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="pagination table-entry-title justify-content-center vertical-padding">
      {% for i in first_pages %}
         {% if i == page|sub:"1" %}
            <div class="page-item">
               <a href="{% url "list_papers" offset|sub:lines lines %}" class="btn btn-light" role="button"><b>« {{i}}</b></a>
            </div>
         {% else %}
            <div class="page-item">
               <a class="btn btn-light" href="{% url "list_papers" lines|mul:i|sub:lines lines%}" >{{i}}</a>
            </div>
         {% endif %}
      {% endfor %}
      {% if page > 7 %}
         <div class="page-item">
            <a class="btn btn-light" role="button"><b>...</b></a>
         </div>
      {% endif %}
      {% if page > 6 %}
         <div class="page-item">
            <a href="{% url "list_papers" offset|sub:lines lines %}" class="btn btn-light" role="button"><b>« {{page|sub:"1"}}</b></a>
         </div>
      {% endif %}
         <div class="page-item active">
            <a class="btn btn-dark" role="button"><b>Page {{page}}</b></a>
         </div>
      {% if has_next_page %}
         <div class="page-item">
            <a href="{% url "list_papers" offset|add:lines lines %}" class="btn btn-light" role="button"><b>{{page|add:"1"}} »</b></a>
         </div>
      {% endif %}
   </div>
   <div class="pagination table-entry-title justify-content-center vertical-padding">
      {% for size in size_options %}
         {% if size == lines %}
            <div class="page-item active">
               <a class="btn btn-dark" role="button"><b>{{size}} entries/page</b></a>
            </div>
         {% else %}
            <div class="page-item">
               <a href="{% url "list_papers" offset size %}" class="btn btn-light" role="button">{{size}}</a>
            </div>
         {% endif %}
      {% endfor %}
   </div>
</div>

<script LANGUAGE="JavaScript">
   $(document).ready(function(){
      $("#search-bar").on("keyup", function() {
         var value = $(this).val().toLowerCase();
         $("#paper-table tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
         });
      });
   });
   function confirmDeletion(){
      return confirm("Do you really want to remove this paper from the system?\nThis action is irreversible!");
   }
</script>

{% endblock %}