{% extends "DEIPaperApp/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<title>DEIPaper - New paper</title>
<div class="upper-padding">
    <h1 class="padding"><b>New paper</b></h1>
</div>
<form method="post" class="padding paper-info">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.abstract|as_crispy_field }}
    {{ form.authors|as_crispy_field }}
    {{ form.logoUrl|as_crispy_field }}
    {{ form.docUrl|as_crispy_field }}
    All fields with * must be filled.
    <br><button type="submit" class="btn btn-success" onClick="return confirmNewPaper()">Submit new paper</button>
</form>

<script LANGUAGE="JavaScript">
    function confirmNewPaper(){
        return confirm("Do you want to add this paper to the system?");
    }
</script>

{% endblock %}