{% extends "DEIPaperApp/base.html" %}
{% block content %}

<title>{{paper.title}}</title>
<h1 class="title-padding"><b>{{paper.designation}}</b></h1>
<div class="title-padding">
    <div class="row">
        {% if paper.imageUrl %} 
            <img src={{paper.imageUrl}} alt={{paper.designation}} class="picture">
        {% endif %}
        <div class="col paper-info">
            ID: <b>{{paper.id}}</b> <br>
            <h2> <b>Abstract</b> </h2>
            {{paper.abstract}}
            <br>
            {% if paper.docUrl %}
                <a href={{paper.docUrl}} class="btn btn-light" role="button">Document URL</a>
            {% endif %}
            <br>
            <a href="{% url "update_paper" paper.id %}" class="btn btn-light" role="button">Update paper</a> <br>
            <a href="{% url "delete_paper" paper.id %}" class="btn btn-danger" role="button" onClick="return confirmDeletion()">Remove paper</a>
        </div>
    </div>
</div>

<script LANGUAGE="JavaScript">
    function confirmDeletion(){
        return confirm("Do you really want to remove this paper?\nThis action is irreversible!");
    }
</script>

{% endblock %}