{% extends "DEIPaperApp/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<title>Update "{{paper.title}}"</title>
<h1 class="padding"><b>Update "{{paper.title}}"</b></h1>
<form method="post" class="padding">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="col-lg-6">
            {{ form.abstract|as_crispy_field }}
        </div>
        <div class="col-lg-6">
            {{ form.authors|as_crispy_field }}
        </div>
        <div class="col-lg-6">
            {{ form.logoUrl|as_crispy_field }}
        </div>
        <div class="col-lg-6">
            {{ form.docUrl|as_crispy_field }}
        </div>
        <div class="col-lg-6">
            <br><button type="submit" class="btn btn-success" onClick="return confirmUpdate()">Update paper</button>
        </div>
    </div>
</form>

<script LANGUAGE="JavaScript">
    function confirmUpdate(){
        return confirm("Do you confirm the update on this paper?");
    }
</script>

{% endblock %}